
.DeleteAllTodos button {
    padding: 0 1.3rem;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 5px;
    margin-top: 1rem;
    cursor: pointer;
    transition: background 0.4s ease-out;
    outline: none;
    height: 3rem;
}

.DeleteAllTodos button:hover {
    background: rgba(0,0,0, 0.1);
}
